@page
@model             ChangePasswordModel
@{
}
<!DOCTYPE html>
<html>

<head>
    <title>Change Password | Intern Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body class="body">
    <div class="container">
        <div class="row">
            <form id="changePasswordForm" method="post" class="col-md-4 mx-auto">
                <div class="text-center mt-5" style="font-size: 20px;">
                    Change Password
                </div>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="form-label mt-4"></label>
                    <input asp-for="OldPassword" class="form-control" type="password" placeholder="Old Password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="form-label mt-4"></label>
                    <input asp-for="NewPassword" class="form-control" type="password" placeholder="New Password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="form-label mt-4"></label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm New Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group text-center mt-2">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>
