@page
@model InternManagement.Pages.Assignments.GradeModel
@{
    ViewData["Title"] = "Grade";
}<h2> Assignment of intern .... </h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Assignment.Description" class="control-label"></label>
        <input asp-for="Assignment.Description" class="form-control" />
        <span asp-validation-for="Assignment.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Assignment.Deadline" class="control-label"></label>
        <input asp-for="Assignment.Deadline" class="form-control" />
        <span asp-validation-for="Assignment.Deadline" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Assignment.Weight " class="control-label"></label>
        <input asp-for="Assignment.Weight " class="form-control" />
        <span asp-validation-for="Assignment.Weight " class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Team Name</label>
        <input type="text" class="form-control" value="@Model.Team.TeamName" readonly />
    </div>
    <div class="form-group"> @* change label just view *@
        <label asp-for="Assignment.Submited" class="control-label"></label>
        <input asp-for="Assignment.Submited" class="form-control" />
        <span asp-validation-for="Assignment.Submited" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label class="control-label">Document</label>
        @if (Model.Assignment.DocumentId != null)
        {
            @if (Model.Document.DocumentData != null && Model.Document.DocumentData.Length > 0)
            {
                var base64Cv = Convert.ToBase64String(Model.Document.DocumentData);
                var cvSrc = String.Format("data:application/pdf;base64,{0}", base64Cv);
                <p><a href="@cvSrc" target="_blank" download="@Model.Document.DocumentName@Model.Document.DocumentType" class="btn btn-success mt-2">Download Answer</a></p>
            }
        }
    </div>
    <div class="form-group">
        <label asp-for="Assignment.Grade" class="control-label"></label>
        <input asp-for="Assignment.Grade" class="form-control" />
        <span asp-validation-for="Assignment.Grade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Assignment.Feedback" class="control-label"></label>
        <input asp-for="Assignment.Feedback" class="form-control" />
        <span asp-validation-for="Assignment.Feedback" class="text-danger"></span>
    </div>

    <!-- Display the Team Name -->

    <button type="submit" class="btn btn-primary mt-2">Grade</button>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}